.dice {
    width: 100px;
    height: 100px;

    object-fit: contain;
}


/* Dice Animation */

.dice.rolling {
    animation: dice-roll 0.8s ease-in-out;
}

@keyframes dice-roll {

    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(90deg) scale(1.15);
    }

    50% {
        transform: rotate(180deg) scale(0.9);
    }

    75% {
        transform: rotate(270deg) scale(1.15);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }

}